[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
ipdb = "*"
matplotlib = "*"
pylint = "*"
pytest = "*"
pyyaml = "*"
beautifulsoup4 = "*"
urllib2 = "*"
requests = "*"
json = "*"
selenium = "*"
urllib = "*"
mpl-finance = {file = "https://github.com/matplotlib/mpl_finance/archive/master.zip"}
tkinter = "*"
mplfinance = "*"

[requires]
python_version = "3.7"
